---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'JV Dev Solutions',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '/' },
        { text: 'Proyectos', href: '/projects' },
        { text: 'Cursos', href: '/courses' },
        { text: 'Blog', href: '/blog' },
        { text: 'Github', href: 'https://github.com/jaimevillegas' },
      ]}
      actions={[
        {
          text: 'Contáctame',
          href: '/contact#form',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->
  <Hero
    id="hero"
    title="Jaime Villegas"
    tagline="Hola! Yo soy"
    actions={[{ variant: 'primary', text: 'Contáctame', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Fusiono mi background en <span class="text-orange-600 font-bold">ingeniería</span> con el<span
        class="text-orange-600 font-bold"
        > desarrollo web moderno
      </span> para crear productos digitales de alto rendimiento. Diseño y construyo aplicaciones que no solo son funcionales, sino también lógicas y fáciles de mantener.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->
  <Content
    id="about"
    columns={4}
    items={[
      {
        icon: 'tabler:brand-fiverr',
        callToAction: {
          target: '_blank',
          text: 'Fiverr',
          href: 'https://es.fiverr.com/villegas296',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/jaimevillegas',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/villegas0296/',
        },
      },
    ]}
    image={{
      src: '~/assets/images/profile.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Acerca de mí</h2>
      <p>
        Como ingeniero, aprendí a construir cosas que funcionan. Como desarrollador, aprendí a construir cosas que la gente ama usar.

        Mi doble perfil me permite abordar cada proyecto desde dos ángulos: la solidez técnica de la ingeniería y la empatía del diseño centrado en el usuario. El resultado son aplicaciones web eficientes, escalables y con una experiencia de usuario impecable.
      </p>
      <br />
      <p>¿Interesado en colaborar? Contáctame aquí:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->
  <BlogLatestPosts
    id="blog"
    title="Del Código al Engranaje"
    information={`Un espacio para analizar problemas, experimentar con tecnología y compartir guías prácticas sobre desarrollo, ingeniería y la magia que ocurre al combinarlos.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

    <!-- Content Widget **************** -->
  <Content
    id="portfolio"
    title="Portafolio"
    isReversed
    items={[
      {
        description:
    'Aquí es donde las ideas se convierten en código. Creo productos digitales funcionales y escalables. En esta sección encontrarás aplicaciones web full-stack, diseñadas con tecnologías como React y Tailwind CSS para ser visualmente atractivas y ofrecer una funcionalidad sólida que resuelve problemas reales.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80',
      alt: 'Web Development Projects',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ver Proyectos',
      icon: 'tabler:chevron-right',
      href: '/projects#web',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Soluciones de Software
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        description:
      'La base de mi pensamiento lógico. Aquí muestro mi trabajo en diseño mecánico (CAD), electrónica y automatización, donde la precisión es clave para resolver desafíos industriales. Esta mentalidad de ingeniero es la que aplico hoy para construir software sólido y bien estructurado.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1581092160562-40aa08e78837?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Proyectos de Ingeniería',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ver Proyectos',
      icon: 'tabler:chevron-right',
      href: '/projects#engineering',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Ingeniería y Diseño de Hardware
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <Steps
    id="resume"
    title="Work experience"
    items={[
  {
    title:
    'Ingeniero Freelance Profesional <br />  <span class="text-sm font-normal">2022 - PRESENTE</span>',
    description: 'Ingeniero Freelance Profesional con amplia experiencia en la entrega de proyectos de alta calidad en plataformas como Fiverr. He completado numerosos proyectos que abarcan desarrollo web, diseño de esquemas electrónicos y PCB, modelado y simulación CAD, y diseño web. Con un compromiso con la precisión y la innovación, adapto cada proyecto para cumplir con las especificaciones del cliente, aprovechando mi experiencia interdisciplinaria para proporcionar soluciones efectivas en los dominios de software y hardware.',
    icon: 'tabler:briefcase',
  },
  {
    title:
      'Ingeniero de Software Frontend <br /> <span class="font-normal">Unydos Consulting S.A.S, COL</span> <br /> <span class="text-sm font-normal">2024</span>',
    description: "Como desarrollador principal en un proyecto de modernización de software heredado, fui responsable de transformar una aplicación de software existente en una solución moderna y escalable utilizando React. Mi rol implicó traducir los requisitos del cliente en tareas técnicas accionables, que delegué en el equipo de desarrollo para asegurar una ejecución eficiente y precisa. Al supervisar la dirección técnica del proyecto y alinear los esfuerzos de desarrollo con las necesidades del cliente, ayudé a impulsar la evolución de esta aplicación hacia un producto receptivo y centrado en el usuario que cumpla con los estándares de la industria actuales.",
    icon: 'tabler:code',
  },
  {
    title:
      'Ingeniero CAD Mecánico <br /> <span class="font-normal">Sector Industrial (Múltiples Empleadores)</span> <br /> <span class="text-sm font-normal">2016 - 2022</span>',
    description: "Como Diseñador Mecánico especializado en soluciones industriales, colaboré directamente con clientes—principalmente dentro de diversas industrias—para analizar sus requisitos y proporcionar soluciones de ingeniería a medida. Mi rol involucró evaluaciones in situ para obtener mediciones precisas y comprender las necesidades únicas de cada proyecto. A través de la ingeniería conceptual, básica y detallada, diseñé soluciones como tanques, tuberías, sistemas de transporte, elevadores y plataformas, cada una destinada a mejorar y optimizar los procesos industriales. Mi experiencia radica en crear diseños funcionales y eficientes que mejoren las líneas de producción y se alineen con los objetivos operativos del cliente.",
    icon: 'tabler:settings',
  }
]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Features3
    title="Habilidades"
    subtitle="Estas son las competencias que me permiten dar vida a la imaginación a través del diseño."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
  {
    title: 'Desarrollo Web Frontend',
    description: 'Especializado en construir interfaces de usuario dinámicas y responsivas con React, HTML, CSS y JavaScript, enfocándome en crear experiencias de usuario fluidas e interactivas.',
  },
  {
    title: 'Modelado y Simulación CAD',
    description: 'Competente en el uso de software CAD para modelado 3D y simulación de componentes mecánicos, desde el diseño conceptual hasta el análisis de ingeniería detallado.',
  },
  {
    title: 'Diseño de PCB y Electrónica',
    description: 'Diseño y simulación de circuitos electrónicos y PCBs, asegurando un rendimiento óptimo e integración para una variedad de proyectos de hardware.',
  },
  {
    title: 'Sistemas Embebidos y Microcontroladores',
    description: 'Programación e integración de Arduino, ESP32 y otros microcontroladores para desarrollar soluciones de hardware eficientes y confiables.',
  },
  {
    title: 'Robótica y Sistemas de Control',
    description: 'Desarrollo y simulación de sistemas robóticos utilizando MATLAB y LabVIEW para un control preciso, automatización y análisis de datos.',
  },
  {
    title: 'Desarrollo de Interfaces HMI',
    description: 'Creación de interfaces gráficas intuitivas para dispositivos HMI, incluyendo pantallas táctiles Raspberry Pi y displays de microcontroladores, para mejorar la interacción y control del usuario.',
  },
  {
    title: 'Resolución de Problemas y Optimización',
    description: 'Habilidad para analizar problemas complejos y desarrollar soluciones creativas y efectivas que mejoren el rendimiento, reduzcan costos y aumenten la productividad.',
  },
  {
    title: 'Liderazgo de Proyectos y Colaboración en Equipo',
    description: 'Liderazgo de proyectos desde la concepción hasta la ejecución, coordinando equipos, delegando tareas y asegurando la alineación con los requisitos y plazos del cliente.',
  },
  {
    title: 'Comunicación Técnica y Relaciones con Clientes',
    description: 'Fuertes habilidades de comunicación para traducir requisitos técnicos en tareas accionables, manteniendo un diálogo claro y eficiente con los clientes para asegurar el éxito del proyecto.',
  },
]}
  />


  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="Vamos a crear juntos"
    subtitle="¿Estás listo para transformar tu visión en diseños cautivadores?"
    actions={[
      {
        variant: 'primary',
        text: 'Contáctame',
        href: '/contact#form',
      },
    ]}
  />

</Layout>
