---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Jaime Villegas - Web Personal',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '/es' },
        // { text: 'About', href: '#about' },
        // { text: 'Resume', href: '#resume' },
        // { text: 'Portfolio', href: '#portfolio' },
        { text: 'Proyectos', href: '/es/projects' },
        { text: 'Cursos', href: '/es/courses' },
        { text: 'Blog', href: '/es/blog' },
        { text: 'Github', href: 'https://github.com/jaimevillegas' },
      ]}
      actions={[
        {
          text: 'Contáctame',
          href: '/es/contact#form',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->
  <Hero
    id="hero"
    title="Jaime Villegas"
    tagline="Hola! Yo soy"
    actions={[{ variant: 'primary', text: 'Contáctame', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Combino experiencia técnica en <span class="text-orange-600 font-bold">ingeniería</span> con pasión por el <span
        class="text-orange-600 font-bold"
        >desarrollo web moderno
    </span>. Diseño soluciones impactantes que mejoran la experiencia del usuario y resuelven problemas complejos.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->
  <Content
    id="about"
    columns={4}
    items={[
      {
        icon: 'tabler:brand-fiverr',
        callToAction: {
          target: '_blank',
          text: 'Fiverr',
          href: 'https://es.fiverr.com/villegas296',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/jaimevillegas',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/villegas0296/',
        },
      },
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'X',
          href: 'https://x.com/JaimeVillegazz',
        },
      },
    ]}
    image={{
      src: '~/assets/images/profile.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Acerca de mí</h2>
      <p>
        Como Desarrollador Frontend e Ingeniero Mecatrónico, me especializo en cerrar la brecha entre el hardware y el
software, desarrollando soluciones que mejoran las experiencias de los usuarios e impulsan la eficiencia. Con una sólida formación en robótica
y diseño CAD, combinada con experiencia en desarrollo web moderno, me apasiona crear aplicaciones escalables y con capacidad de respuesta.
      </p>
      <br />
      <p>Si tienes curiosidad por profundizar en mi trabajo, puedes seguirme:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->
  <BlogLatestPosts
    id="blog"
    title="Exploraciones Técnicas y Soluciones de Ingeniería"
    information={`Explore mis últimos artículos sobre desarrollo web, prácticas de ingeniería y soluciones técnicas que impulsan la innovación y la eficiencia en el panorama digital.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

    <!-- Content Widget **************** -->
  <Content
    id="portfolio"
    title="Portafolio"
    isReversed
    items={[
      {
        // title: 'Description:',
        description:
          'Mostrando soluciones web modernas, esta colección presenta aplicaciones dinámicas y responsivas creadas con tecnologías como React, Node.js y Tailwind CSS. Desde el diseño intuitivo de interfaces de usuario hasta implementaciones full-stack, explora proyectos enfocados en ofrecer experiencias de usuario fluidas y una funcionalidad robusta.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80',
      alt: 'Web Development Projects',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ver Proyectos',
      icon: 'tabler:chevron-right',
      href: '/projects#web',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Desarrollo Web
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        // title: 'Description:',
        description:
          'Una selección de proyectos de ingeniería que combinan diseño mecánico, electrónica y automatización para resolver desafíos del mundo real. Con modelos CAD, sistemas embebidos y soluciones de hardware personalizadas, cada proyecto demuestra un compromiso con la precisión y la innovación en el ámbito industrial.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1581092160562-40aa08e78837?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Proyectos de Ingeniería',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ver Proyectos',
      icon: 'tabler:chevron-right',
      href: '/projects#engineering',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Ingeniería
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <Steps
    id="resume"
    title="Work experience"
    items={[
  {
    title:
    'Ingeniero Freelance Profesional <br />  <span class="text-sm font-normal">2022 - PRESENTE</span>',
    // description: `Asistió a diseñadores senior en la creación de conceptos de diseño y activos visuales. <br /> Contribuyó al desarrollo de identidades de marca y material de marketing. <br /> Colaboró con el equipo de marketing para asegurar un diseño consistente en las campañas. <br /> Adquirió experiencia práctica en varios programas y herramientas de diseño.`,
    description: 'Ingeniero Freelance Profesional con amplia experiencia en la entrega de proyectos de alta calidad en plataformas como Fiverr. He completado numerosos proyectos que abarcan desarrollo web, diseño de esquemas electrónicos y PCB, modelado y simulación CAD, y diseño web. Con un compromiso con la precisión y la innovación, adapto cada proyecto para cumplir con las especificaciones del cliente, aprovechando mi experiencia interdisciplinaria para proporcionar soluciones efectivas en los dominios de software y hardware.',
    icon: 'tabler:briefcase',
  },
  {
    title:
      'Ingeniero de Software Frontend <br /> <span class="font-normal">Unydos Consulting S.A.S, COL</span> <br /> <span class="text-sm font-normal">2024</span>',
    description: "Como desarrollador principal en un proyecto de modernización de software heredado, fui responsable de transformar una aplicación de software existente en una solución moderna y escalable utilizando React. Mi rol implicó traducir los requisitos del cliente en tareas técnicas accionables, que delegué en el equipo de desarrollo para asegurar una ejecución eficiente y precisa. Al supervisar la dirección técnica del proyecto y alinear los esfuerzos de desarrollo con las necesidades del cliente, ayudé a impulsar la evolución de esta aplicación hacia un producto receptivo y centrado en el usuario que cumpla con los estándares de la industria actuales.",
    icon: 'tabler:code',
  },
  {
    title:
      'Ingeniero CAD Mecánico <br /> <span class="font-normal">Sector Industrial (Múltiples Empleadores)</span> <br /> <span class="text-sm font-normal">2016 - 2022</span>',
    description: "Como Diseñador Mecánico especializado en soluciones industriales, colaboré directamente con clientes—principalmente dentro de diversas industrias—para analizar sus requisitos y proporcionar soluciones de ingeniería a medida. Mi rol involucró evaluaciones in situ para obtener mediciones precisas y comprender las necesidades únicas de cada proyecto. A través de la ingeniería conceptual, básica y detallada, diseñé soluciones como tanques, tuberías, sistemas de transporte, elevadores y plataformas, cada una destinada a mejorar y optimizar los procesos industriales. Mi experiencia radica en crear diseños funcionales y eficientes que mejoren las líneas de producción y se alineen con los objetivos operativos del cliente.",
    icon: 'tabler:settings',
  }
]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->
  <!-- <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->
  <!-- Features3 Widget ************** -->
  <Features3
    title="Habilidades"
    subtitle="Descubre las competencias que me permiten dar vida a la imaginación a través del diseño."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
  {
    title: 'Desarrollo Web Frontend',
    description: 'Especializado en construir interfaces de usuario dinámicas y responsivas con React, HTML, CSS y JavaScript, enfocándome en crear experiencias de usuario fluidas e interactivas.',
  },
  {
    title: 'Modelado y Simulación CAD',
    description: 'Competente en el uso de software CAD para modelado 3D y simulación de componentes mecánicos, desde el diseño conceptual hasta el análisis de ingeniería detallado.',
  },
  {
    title: 'Diseño de PCB y Electrónica',
    description: 'Diseño y simulación de circuitos electrónicos y PCBs, asegurando un rendimiento óptimo e integración para una variedad de proyectos de hardware.',
  },
  {
    title: 'Sistemas Embebidos y Microcontroladores',
    description: 'Programación e integración de Arduino, ESP32 y otros microcontroladores para desarrollar soluciones de hardware eficientes y confiables.',
  },
  {
    title: 'Robótica y Sistemas de Control',
    description: 'Desarrollo y simulación de sistemas robóticos utilizando MATLAB y LabVIEW para un control preciso, automatización y análisis de datos.',
  },
  {
    title: 'Desarrollo de Interfaces HMI',
    description: 'Creación de interfaces gráficas intuitivas para dispositivos HMI, incluyendo pantallas táctiles Raspberry Pi y displays de microcontroladores, para mejorar la interacción y control del usuario.',
  },
  {
    title: 'Resolución de Problemas y Optimización',
    description: 'Habilidad para analizar problemas complejos y desarrollar soluciones creativas y efectivas que mejoren el rendimiento, reduzcan costos y aumenten la productividad.',
  },
  {
    title: 'Liderazgo de Proyectos y Colaboración en Equipo',
    description: 'Liderazgo de proyectos desde la concepción hasta la ejecución, coordinando equipos, delegando tareas y asegurando la alineación con los requisitos y plazos del cliente.',
  },
  {
    title: 'Comunicación Técnica y Relaciones con Clientes',
    description: 'Fuertes habilidades de comunicación para traducir requisitos técnicos en tareas accionables, manteniendo un diálogo claro y eficiente con los clientes para asegurar el éxito del proyecto.',
  },
]}
  />


  <!-- Testimonials Widget *********** -->
  <!-- <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  /> -->
  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="Vamos a crear juntos"
    subtitle="¿Estás listo para transformar tu visión en diseños cautivadores?"
    actions={[
      {
        variant: 'primary',
        text: 'Contáctame',
        href: '/contact#form',
      },
    ]}
  />

</Layout>
